/*Default settings!*/
html {
	background-color: #FFE4E1
}

body {
	font-family: "Helvetica"
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 30px;
}

ul {
	text-align: center;
}

li {
	display: inline-block;
	list-style-type: none;
}

video {
	width: 700px;
	height:525px;
}

a:link {color: black;}     
a:visited {color: black;}   
a:hover {color: black;}     
a:active {color: black;}

hr {
	width: 700px ;
	margin-left: auto ;
	margin-right: auto;
    display: block;
    height: 2px;
}

/*Buttons!*/

.button {
	padding:8px 16px 8px 16px; /*Create the padding for the button*/
	display:inline-block;
	text-decoration: none;
	background-color:#FFE4E1;
	border: 0.1px solid black;
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #E6CBC8;
	border: 0.1px solid #E6CBC8;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.left {
    text-align:left;
 }

#title {
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
	text-align: center;
}

.content {
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
}

.content p {
	-webkit-column-count:2 ;
	column-count:2;
	-webkit-column-gap: 50px;
	column-gap: 50px;
	text-align: left;
}

.content2 {
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
}
